.btn {
    display: inline-block;
    border: 0;
    text-decoration: none;
    padding: 10px 20px;
    color: map-get($colors,dark);
    font-size: 16px;
    background-color: map-get($colors,light);
    &:hover {
        background-color: darken(map-get($colors,light),10);
    }
}
@each $name,$color in $colors {
    .btn-#{$name}{
        background-color: $color;
        &:hover {
            background-color: darken($color,20);
        }
    }
}
