
@each $size,$width in $breakpoints {
    @media screen and (min-width: $width * 1px){
        .fixed-width {
            width: $width * 1px;
            margin: auto;
        }
        @for $i from 1 through $grid {
            .col-#{$size}-#{$i}{
                width: 100% / $grid * $i;
            } 
        }
    }
}
[class^="col"]{
    float: left;
    padding: $colPadding * 1px;
}